In [83]:
import pandas as pd
df=pd.read_csv(r'C:\Users\hp\OneDrive\Desktop\MY\GitHubRS\SalaryPrediction\data\raw\glassdoor_jobs.csv')

In [84]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

# Cleaning Steps.
#### 1. Remove Unamed Column.
#### 2. Clean Salary Column.
#### 3. Company name text only
#### 4. Find age of the company
#### 5. Parsing of job description( python, aws etc)

In [85]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [86]:
df.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [87]:
df['Company Name'].unique()

array(['Tecolote Research\n3.8',
       'University of Maryland Medical System\n3.4', 'KnowBe4\n4.8',
       'PNNL\n3.8', 'Affinity Solutions\n2.9', 'CyrusOne\n3.4',
       'ClearOne Advantage\n4.1', 'Logic20/20\n3.8',
       'Rochester Regional Health\n3.3', '<intent>\n4.6', 'Wish\n3.5',
       'ManTech\n4.1', 'Walmart\n3.2', 'Yesler\n4.1',
       'Takeda Pharmaceuticals\n3.7', 'Audible\n3.6',
       'Blueprint Medicines\n3.9', 'h2o.ai\n4.3', 'Nuna\n4.2',
       'Pinnacol Assurance\n4.0', 'Porch\n3.2', 'Health IQ\n3.9',
       'Truckstop.com\n3.8', 'SMC 3\n4.3', 'Mars\n3.9', 'Novetta\n4.0',
       'Pfizer\n4.0', 'First Tech Federal Credit Union\n3.5',
       'The Hanover Insurance Group\n3.7', 'Amrock\n3.6', 'Novartis\n3.8',
       'Juniper Networks\n3.8', 'New England Biolabs\n4.7',
       'Clarity Insights\n4.2', 'Esri\n3.5',
       'Systems & Technology Research\n4.7', 'Sartorius\n3.5',
       'Lancer Insurance\n3.5', 'Sauce Labs\n4.2', 'Amount\n4.1',
       'Persivia\n3.6', 'Edgewell Personal Care\n3.4',
       'Equity Residential\n4.3', 'Brightside\n5.0', 'BPA Services\n5.0',
       'Visa Inc.\n3.7', 'Intrado\n3.1', 'Centauri\n4.7',
       'Caterpillar\n3.7', 'Anson McCade\n4.5',
       'Zimmerman Advertising\n3.8', 'Liberty Mutual Insurance\n3.3',
       'Torch Technologies, Inc.\n4.6', 'Swiss Re\n3.7',
       'Northrop Grumman\n3.7', 'Netskope\n4.1', '1904labs\n4.7',
       'Amica Mutual\n3.1', 'The David J. Joseph Company\n4.4',
       'USEReady\n4.3', 'Bill.com\n3.8',
       'Pacific Northwest National Laboratory\n3.8', 'Blue Owl\n4.5',
       "DICK'S Sporting Goods - Corporate\n3.8",
       'Great-Circle Technologies\n2.2', 'Berg Health\n2.8',
       'Oversight Systems\n4.7', 'Avlino\n4.9', 'C Space\n3.1',
       'Numeric, LLC\n3.2', 'HP Inc.\n4.0', 'SpringML\n4.4',
       'Grainger\n3.6', 'EAG Laboratories\n2.7', 'The Buffalo Group\n3.9',
       'Carmeuse\n3.1', 'GNS Healthcare\n1.9', 'Peraton\n3.3',
       'Pactera\n4.4', 'Nurx\n3.9', 'webfx.com\n4.7',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Productive Edge\n4.3', 'Excella Consulting\n4.0', 'Gensco\n4.4',
       'goTRG\n4.2', 'NMR Consulting\n4.5', 'Kodiak Robotics\n4.9',
       'iSeatz\n3.5', 'ThousandEyes\n4.7', 'Nektar Therapeutics\n3.5',
       'TransUnion\n3.9', 'Peterson Technology Partners\n4.0',
       'IT Concepts\n4.7', 'Scientific Research Corporation\n4.2',
       'General Dynamics Information Technology\n3.4', 'MITRE\n3.2',
       'DentaQuest\n3.1', 'Redjack\n4.1', 'Alector\n5.0',
       '7Park Data\n3.8', 'Rapid Response Monitoring\n4.7',
       'Bridgerock Data', 'NuWave Solutions\n4.5', 'Trilogy Ed\n4.3',
       'Gallup\n4.2', 'CapTech\n3.9',
       'American Axle & Manufacturing\n3.3', 'CentralReach\n4.7',
       'LEAH Labs', 'Integrate\n4.3', 'Boys Town Hospital\n2.9',
       'Demandbase\n4.5', 'Sapphire Digital\n3.4', 'Formation\n3.2',
       'Autodesk\n4.0', "Beck's Hybrids\n4.6", 'DrFirst\n2.8',
       'Object Partners\n4.7', 'Briq\n4.9', 'Geomagical Labs',
       'Teaching Strategies, LLC\n3.1', 'L.A. Care Health Plan\n3.0',
       'Red Ventures\n3.2', 'Quick Base\n4.4',
       'The E.W. Scripps Company\n3.5', 'Upside Business Travel\n4.0',
       'Synagro\n2.3', 'Alliance Source Testing\n4.0',
       'Accuride International\n3.6', 'Full Potential Solutions\n3.8',
       'Maven Wave Partners\n4.4', 'My Job Tank\n3.6', 'Dynetics\n3.8',
       'First Command Financial Services, Inc.\n3.2', 'Pharmavite\n2.9',
       'BioMarin Pharmaceutical\n3.8', 'ShorePoint\n4.5',
       'Stratagem Group\n4.3', 'PA Consulting\n3.4',
       'Apellis Pharmaceuticals\n4.1', 'Gridiron IT\n5.0', 'Hygiena\n4.0',
       'Evolve Vacation Rental\n3.7',
       'The Church of Jesus Christ of Latter-day Saints\n4.2',
       'Maximus Real Estate Partners\n4.3',
       'Software Engineering Institute\n2.6', 'AVANADE\n3.9',
       'PatientPoint\n3.8', 'Insight Enterprises, Inc.\n4.1',
       'BlueCross BlueShield of Tennessee\n3.8', 'KSM Consulting\n4.4',
       'Cogo Labs\n3.9', 'Church & Dwight\n3.4', 'MassMutual\n3.6',
       'Genentech\n3.9', 'Volume Integration, LLC\n4.4',
       'Legal & General America\n3.8', 'Western Digital\n3.5',
       'CACI International\n3.5', 'Sunovion\n3.5',
       'National Student Clearinghouse\n2.9', 'Hamilton Porter LLC\n5.0',
       'Tower Health\n3.6', 'State of Wisconsin Investment Board\n2.7',
       'Rubius Therapeutics\n4.4', 'OneMagnify\n4.3', 'IZEA\n4.2',
       'Vionic Group\n3.6', 'Dodge Data & Analytics\n2.8',
       'Plymouth Rock Assurance\n3.3', 'CA-One Tech Cloud',
       'Beebe Healthcare\n3.6', 'Argo Group US\n3.4',
       'Associated Electric Cooperative\n4.1', 'Seen by Indeed',
       'PennyMac\n3.2', 'Zest AI\n3.9',
       'DECISIVE ANALYTICS Corporation\n4.7', 'Aptonet Inc\n5.0',
       'Karyopharm Therapeutics Inc.\n2.9', 'Tempus Labs\n3.0',
       'Recursion Pharmaceuticals\n4.7', 'P2 Energy Solutions\n3.7',
       'ClearEdge\n4.0', 'OSI Engineering\n4.4', 'Tapjoy\n3.9',
       'Credit Sesame\n4.1', 'Octane\n4.2', 'Greenwich Biosciences\n4.6',
       'Decode_M', 'San Manuel Casino\n3.6',
       'Texas Health Huguley Hospital\n4.0', 'GSN Games\n4.5',
       'Teasdale Latin Foods\n2.4', 'Redstream Technology\n4.1',
       'Central California Alliance for Health\n3.5',
       'Pilot Flying J Travel Centers LLC\n3.0', "Palermo's Pizza\n3.3",
       'Advanced BioScience Laboratories\n2.7',
       'Echo Global Logistics\n3.4', 'Lockheed Martin\n3.7',
       'Acuity Insurance\n4.8', 'Fareportal\n3.8',
       'Veterans Affairs, Veterans Health Administration\n3.4',
       'Credera\n4.3', 'Daugherty Business Solutions\n4.3',
       'Spectrum Communications and Consulting\n3.4', 'NCSOFT\n3.1',
       'Dayton Freight Lines, Inc.\n4.3',
       'Community Action Partnership of San Luis Obispo\n2.8',
       'TrueAccord\n3.4', 'DRB Systems\n4.0', 'Corcentric\n3.7',
       'Blend360\n4.6', 'U.Group\n3.5', 'Calista\n2.4',
       'Sandhills Global\n2.5', 'Hire Resolve\n3.8',
       'Systems Evolution Inc.\n4.7', 'Eventbrite\n4.4', 'Centro\n4.1',
       'comScore\n2.5', 'Genesis Research\n5.0', 'SullivanCotter\n4.2',
       'NPD\n3.9', 'Bakery Agency\n4.3', 'Service Express\n4.3',
       'Rose International\n4.5',
       'Blue Cross & Blue Shield of Rhode Island\n3.4', 'Boys Town\n3.8',
       'The HSC Health Care System\n3.3', 'Pro-Sphere Tek\n3.4',
       'Ameritas Life Insurance Corp\n3.0', 'Genworth\n3.7', '605\n5.0',
       'Trace Data\n3.9', 'Clearwater Analytics\n4.2', 'NS8\n5.0',
       'Tekvalley, Corp.\n4.0', 'SmartNews, Inc.\n4.6',
       'BWX Technologies\n3.5', 'Vermeer\n3.9',
       'Cambridge Trust Company\n3.6', 'Zylotech\n3.7', 'Redapt\n3.6',
       'L&T Infotech\n3.5', 'OceanFirst Financial\n4.3',
       'Northpointe Bank\n4.7', "Sotheby's\n3.6",
       'Vanda Pharmaceuticals\n2.3', 'CK-12 Foundation\n4.1',
       'Opinion Dynamics\n4.2', 'Applied Information Sciences\n4.6',
       'PM2CM', 'WK Dickson\n4.4', 'Freedman Healthcare\n5.0',
       'Randstad\n3.6', 'Southwest Research Institute\n3.9', 'Muso',
       'CyberCoders\n4.2', 'The Integer Group\n2.2',
       'McCarthy Building Co\n4.3', 'SciPlay\n4.0', 'GovTech\n3.6',
       'Samba TV\n3.3', 'SV Microwave\n3.4', 'Sumo Logic\n3.8',
       'EAB\n3.5', 'Brighthouse Financial\n3.5',
       'Monte Rosa Therapeutics', 'Citadel Federal Credit Union\n3.9',
       'CALIBRE Systems\n3.7', 'Motorola Solutions\n3.7',
       'Reynolds American\n3.1', 'Infosys\n3.0',
       'Alignment Healthcare\n3.5', 'FrankCrum Staffing\n3.3',
       'Cboe Global Markets\n3.7', 'Guidepoint\n3.2',
       'Cerus Corporation\n2.1', 'Vail Health\n3.7',
       'Qualifacts Systems, Inc.\n3.1', 'Sterling National Bank\n2.7',
       'AstraZeneca\n3.9', 'MathWorks\n4.4', 'MetroStar Systems\n3.4',
       'NJF Global Holdings\n4.1', 'Audentes Therapeutics\n2.9',
       'National Interstate\n3.3', 'Moser Consulting\n4.5',
       'Mcphail Associates\n3.3', 'Crown Bioscience\n2.4', 'HOVER\n4.8',
       'Q2 Solutions\n2.9', 'Arbella Insurance\n3.4', 'Kronos Bio',
       'IGNW\n4.8', 'Health Union\n4.8', 'Associated Banc-Corp\n3.8',
       'Shine Systems\n3.6', 'Genesys\n4.3', 'Moda Operandi\n1.9',
       'QK\n4.7', 'Santander\n3.1', 'Tivity Health\n3.4', 'BRMi\n4.4',
       'Luminar Technologies\n3.9', 'Emtec, Inc.\n3.9',
       'Veterans United Home Loans\n4.7', 'Praetorian\n4.7',
       'Agios Pharmaceuticals\n3.8', 'Meridian Technologies, Inc\n4.0',
       'Orange Coast Memorial Medical Center\n3.4', 'Glassdoor\n4.0',
       'Assurant\n3.4', 'F&G\n3.7',
       'Collinwood Technology Partners, LLC\n4.7',
       'Homology Medicines, Inc.\n4.4', 'FHLBank Pittsburgh\n3.7',
       'Sanofi\n3.7', 'GreatAmerica Financial Services\n4.6',
       'Acceleron Pharma\n4.4', 'AmeriHealth Caritas\n3.0',
       'Strategic Employment Partners\n4.7',
       'Catholic Health Initiatives\n3.2', 'FLEETCOR\n2.7',
       'Applied Research Laboratories\n3.7', 'Raytheon\n3.7',
       'OneThree Biotech', 'RTI International\n4.3', 'TRANZACT\n3.6',
       'United BioSource\n2.1', 'Figure Eight\n3.9',
       'Senti Biosciences\n5.0', 'Royce Geospatial\n5.0', 'Citi\n3.6',
       'Sage Intacct\n4.7', 'Scale AI\n3.5', 'Delphi-US\n3.6',
       'Astreya\n3.4', 'Change Healthcare\n2.7', 'MZ\n3.4',
       'HG Insights\n4.7', '1-800-FLOWERS.COM, Inc.\n2.8',
       'CBS Interactive\n3.5', 'Samsung Research America\n3.7',
       'Cuboid IT Solutions\n3.9', 'Pyramid Consulting, Inc.\n3.9',
       'Lorven Technologies Inc\n4.0', 'CareDx\n2.5', 'Serigor Inc.\n3.9',
       'Leidos\n3.4', 'Beckman Coulter Diagnostics\n3.6',
       'IHS Markit\n3.5', 'ALIN', 'e-IT Professionals Corp.\n3.5',
       'TechProjects\n4.8', 'Biz2Credit Inc\n4.0', 'PeoplesBank\n4.2',
       'Capgemini\n3.8', 'GNY Insurance Companies\n3.7', 'Watchful\n4.4',
       'Quality Consulting Group\n5.0', 'Conch Technologies, Inc\n4.6',
       'Medidata Solutions\n4.3', 'Healthfirst\n2.9',
       'Quartet Health\n3.9', 'Success Academy Charter Schools\n3.1',
       'CompuForce', 'AXION Healthcare Solutions\n3.6', 'WeRide.ai',
       'ExecOnline\n4.2', 'ODSC Hiring Partner', 'Mteq\n4.0',
       'Brillient\n3.7', 'Entefy\n4.4', 'Point72 Ventures', 'Trace3\n3.4',
       'Saama Technologies Inc\n3.5', 'Two Sigma\n4.4',
       'Strategic Financial Solutions\n4.0',
       'Remedy BPCI Partners, LLC.\n3.4', 'The Climate Corporation\n3.2',
       'Crossix Solutions\n3.5', 'GSK\n3.9', 'Factual\n4.3',
       'TriNet\n3.3', 'Signpost\n3.9', 'Adobe\n4.0',
       'UPM Pharmaceutical Inc\n2.3', 'Equian LLC\n3.2',
       'Information Builders\n3.2', 'Greenway Health\n3.0',
       'Confluent\n4.7', 'Life360\n3.9', 'IQVIA\n3.6',
       'Riverside Research Institute\n3.6',
       'Icon Health and Fitness\n3.1', 'Shipt\n3.8', 'PACT Pharma\n3.5',
       'Job Juncture\n4.7', 'IntraEdge\n3.4', 'COUNTRY Financial\n3.8',
       'Mentor Graphics\n4.1', 'Maxar Technologies\n3.7',
       'ICW Group\n2.8', 'Exelixis\n3.0', 'Grand Rounds\n4.2',
       'SPINS, LLC\n3.5', 'DTCC\n3.3', "Macy's\n3.2", 'SafeGraph\n4.4',
       'Carilion Clinic\n3.7', 'DoubleVerify\n3.2',
       'Mitsubishi Electric Research Labs\n4.6',
       'Rodan and Fields, LLC\n2.2', 'Oportun. Inc\n3.8', 'DESC\n3.4',
       'Johns Hopkins Health Care\n3.3',
       'Community Behavioral Health\n3.7', 'FORMA THERAPEUTICS\n3.8',
       'Bridg\n2.7', 'Charter Spectrum\n3.5',
       'Two95 International Inc.\n4.0', 'Vbeyond Corporation\n4.4',
       'Adyen N.V.', 'Technosoft Corporation\n3.5', 'CompQsoft\n3.4',
       'SentiLink', 'GA Telesis\n3.8', 'Solugenix Corporation\n4.3',
       'West Coast University\n2.6', 'SoftBank Robotics\n3.8',
       'Mathematica Policy Research\n3.3', 'Eliassen Group\n4.5',
       'Edison Software, Inc.\n5.0', 'SkySync\n5.0',
       'ConsultNet, LLC\n4.3', 'DatamanUSA, LLC\n3.4',
       'HireResources a Tailored Solutions Company (WO)\n5.0',
       'Jobot\n5.0', 'Creative Circle, LLC\n3.6',
       'GTN Technical Staffing\n4.2', 'Steel Point Solutions, LLC\n4.7',
       'Miracle Software Systems\n3.3', '23andMe\n4.0', 'Fivestars\n3.9'],
      dtype=object)

In [88]:
df['Salary Estimate'].unique()

array(['$53K-$91K (Glassdoor est.)', '$63K-$112K (Glassdoor est.)',
       '$80K-$90K (Glassdoor est.)', '$56K-$97K (Glassdoor est.)',
       '$86K-$143K (Glassdoor est.)', '$71K-$119K (Glassdoor est.)',
       '$54K-$93K (Glassdoor est.)', '$86K-$142K (Glassdoor est.)',
       '$38K-$84K (Glassdoor est.)', '$120K-$160K (Glassdoor est.)',
       '$126K-$201K (Glassdoor est.)', '$64K-$106K (Glassdoor est.)',
       '$106K-$172K (Glassdoor est.)', '$46K-$85K (Glassdoor est.)',
       '$83K-$144K (Glassdoor est.)', '$102K-$190K (Glassdoor est.)',
       '$67K-$137K (Glassdoor est.)', '$118K-$189K (Glassdoor est.)',
       '$110K-$175K (Glassdoor est.)', '$64K-$111K (Glassdoor est.)',
       '$81K-$130K (Glassdoor est.)', '$73K-$119K (Glassdoor est.)',
       '$86K-$139K (Glassdoor est.)', '$63K-$105K (Glassdoor est.)', '-1',
       '$109K-$177K (Glassdoor est.)', '$63K-$110K (Glassdoor est.)',
       '$75K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$72K-$120K (Glassdoor est.)', '$93K-$149K (Glassdoor est.)',
       '$85K-$140K (Glassdoor est.)', '$77K-$135K (Glassdoor est.)',
       '$82K-$132K (Glassdoor est.)', '$83K-$137K (Glassdoor est.)',
       '$115K-$180K (Glassdoor est.)', '$74K-$138K (Glassdoor est.)',
       '$64K-$112K (Glassdoor est.)', '$68K-$129K (Glassdoor est.)',
       '$52K-$113K (Glassdoor est.)', '$110K-$150K(Employer est.)',
       'Employer Provided Salary:$150K-$160K',
       '$158K-$211K (Glassdoor est.)', '$20K-$39K (Glassdoor est.)',
       '$56K-$117K (Glassdoor est.)', '$63K-$99K (Glassdoor est.)',
       '$68K-$114K (Glassdoor est.)', '$41K-$95K (Glassdoor est.)',
       '$86K-$144K (Glassdoor est.)', '$80K-$139K (Glassdoor est.)',
       '$56K-$95K (Glassdoor est.)', '$120K-$189K (Glassdoor est.)',
       '$111K-$176K (Glassdoor est.)', '$84K-$146K (Glassdoor est.)',
       '$107K-$172K (Glassdoor est.)', '$49K-$85K (Glassdoor est.)',
       '$61K-$109K (Glassdoor est.)', '$88K-$148K (Glassdoor est.)',
       '$60K-$99K (Glassdoor est.)', '$41K-$72K (Glassdoor est.)',
       '$96K-$161K (Glassdoor est.)', '$65K-$130K (Glassdoor est.)',
       '$52K-$81K (Glassdoor est.)', '$139K-$220K (Glassdoor est.)',
       '$50K-$102K (Glassdoor est.)', '$85K-$139K (Glassdoor est.)',
       '$74K-$122K (Glassdoor est.)', '$99K-$157K (Glassdoor est.)',
       '$79K-$222K (Glassdoor est.)', '$57K-$118K (Glassdoor est.)',
       '$86K-$141K (Glassdoor est.)', '$94K-$154K (Glassdoor est.)',
       '$37K-$76K (Glassdoor est.)', '$100K-$160K (Glassdoor est.)',
       '$55K-$100K (Glassdoor est.)', '$60K-$114K (Glassdoor est.)',
       '$39K-$68K (Glassdoor est.)', '$64K-$107K (Glassdoor est.)',
       '$31K-$65K (Glassdoor est.)', '$34K-$62K (Glassdoor est.)',
       '$117K-$231K (Glassdoor est.)', '$79K-$134K (Glassdoor est.)',
       '$52K-$93K (Glassdoor est.)', '$55K-$116K (Glassdoor est.)',
       '$72K-$123K (Glassdoor est.)', '$74K-$124K (Glassdoor est.)',
       '$40K-$73K (Glassdoor est.)', '$102K-$164K (Glassdoor est.)',
       '$89K-$153K (Glassdoor est.)', '$61K-$110K (Glassdoor est.)',
       '$65K-$110K (Glassdoor est.)', '$200K-$275K(Employer est.)',
       '$68K-$123K (Glassdoor est.)', '$80K-$129K (Glassdoor est.)',
       '$39K-$71K (Glassdoor est.)', '$38K-$85K (Glassdoor est.)',
       '$121K-$193K (Glassdoor est.)', '$54K-$102K (Glassdoor est.)',
       '$102K-$163K (Glassdoor est.)', '$76K-$140K (Glassdoor est.)',
       '$60K-$101K (Glassdoor est.)', '$82K-$133K (Glassdoor est.)',
       '$65K-$125K (Glassdoor est.)', '$91K-$148K (Glassdoor est.)',
       '$95K-$173K (Glassdoor est.)', '$77K-$124K (Glassdoor est.)',
       '$80K-$135K (Glassdoor est.)', '$85K-$159K (Glassdoor est.)',
       '$80K-$105K(Employer est.)', '$43K-$81K (Glassdoor est.)',
       '$29K-$50K (Glassdoor est.)', '$26K-$55K (Glassdoor est.)',
       '$61K-$118K (Glassdoor est.)', '$60K-$102K (Glassdoor est.)',
       '$112K-$182K (Glassdoor est.)', '$51K-$112K (Glassdoor est.)',
       '$113K-$223K (Glassdoor est.)', '$72K-$129K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$145K',
       '$80K-$120K (Glassdoor est.)', '$80K-$130K (Glassdoor est.)',
       '$59K-$115K (Glassdoor est.)', '$71K-$136K (Glassdoor est.)',
       '$81K-$167K (Glassdoor est.)', '$71K-$204K (Glassdoor est.)',
       '$75K-$125K (Glassdoor est.)', '$77K-$136K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$65K-$148K (Glassdoor est.)', '$59K-$110K (Glassdoor est.)',
       '$85K-$134K (Glassdoor est.)', '$124K-$204K (Glassdoor est.)',
       '$131K-$207K (Glassdoor est.)', '$110K-$174K (Glassdoor est.)',
       '$52K-$101K (Glassdoor est.)', '$81K-$133K (Glassdoor est.)',
       '$132K-$211K (Glassdoor est.)', '$74K-$140K (Glassdoor est.)',
       '$100K-$190K (Glassdoor est.)', '$43K-$80K (Glassdoor est.)',
       '$17-$24 Per Hour(Glassdoor est.)', '$91K-$149K (Glassdoor est.)',
       '$42K-$82K (Glassdoor est.)', '$116K-$185K (Glassdoor est.)',
       '$59K-$116K (Glassdoor est.)', '$48K-$95K (Glassdoor est.)',
       '$31K-$72K (Glassdoor est.)', '$105K-$198K (Glassdoor est.)',
       '$98K-$182K (Glassdoor est.)', '$73K-$124K (Glassdoor est.)',
       'Employer Provided Salary:$200K-$250K',
       '$21-$34 Per Hour(Glassdoor est.)', '$117K-$206K (Glassdoor est.)',
       '$111K-$183K (Glassdoor est.)', '$81K-$159K (Glassdoor est.)',
       '$83K-$166K (Glassdoor est.)', '$114K-$182K (Glassdoor est.)',
       '$42K-$76K (Glassdoor est.)', '$114K-$179K (Glassdoor est.)',
       '$60K-$123K (Glassdoor est.)', '$100K-$166K (Glassdoor est.)',
       '$108K-$173K (Glassdoor est.)', '$48K-$93K (Glassdoor est.)',
       '$54K-$115K (Glassdoor est.)', '$60K-$127K (Glassdoor est.)',
       '$90K-$179K (Glassdoor est.)', '$138K-$224K (Glassdoor est.)',
       '$190K-$220K(Employer est.)', '$35K-$62K (Glassdoor est.)',
       '$18-$25 Per Hour(Glassdoor est.)', '$39K-$66K (Glassdoor est.)',
       '$42K-$86K (Glassdoor est.)', '$69K-$127K (Glassdoor est.)',
       '$40K-$68K (Glassdoor est.)', '$49K-$113K (Glassdoor est.)',
       '$75K-$140K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$76K-$125K (Glassdoor est.)', '$44K-$86K (Glassdoor est.)',
       '$15-$25 Per Hour(Glassdoor est.)', '$53K-$92K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$60K-$103K (Glassdoor est.)',
       '$53K-$105K (Glassdoor est.)', '$33K-$62K (Glassdoor est.)',
       '$48K-$90K (Glassdoor est.)', '$34K-$64K (Glassdoor est.)',
       '$66K-$111K (Glassdoor est.)', '$91K-$138K (Glassdoor est.)',
       '$62K-$114K (Glassdoor est.)', '$71K-$129K (Glassdoor est.)',
       '$74K-$119K (Glassdoor est.)', '$55K-$97K (Glassdoor est.)',
       '$15K-$16K(Employer est.)', '$61K-$106K (Glassdoor est.)',
       '$127K-$199K (Glassdoor est.)', '$74K-$126K (Glassdoor est.)',
       '$33K-$72K (Glassdoor est.)', '$37K-$63K (Glassdoor est.)',
       '$67K-$119K (Glassdoor est.)', '$72K-$117K (Glassdoor est.)',
       '$78K-$126K (Glassdoor est.)', '$116K-$194K (Glassdoor est.)',
       '$83K-$133K (Glassdoor est.)', '$45K-$82K (Glassdoor est.)',
       '$83K-$135K (Glassdoor est.)', '$70K-$122K (Glassdoor est.)',
       '$70K-$132K (Glassdoor est.)', '$54K-$101K (Glassdoor est.)',
       '$68K-$112K (Glassdoor est.)', '$42K-$74K (Glassdoor est.)',
       '$95K-$161K (Glassdoor est.)', '$76K-$126K (Glassdoor est.)',
       '$108K-$176K (Glassdoor est.)', '$130K-$208K (Glassdoor est.)',
       '$37K-$68K (Glassdoor est.)', '$52K-$99K (Glassdoor est.)',
       '$105K-$173K (Glassdoor est.)', '$71K-$134K (Glassdoor est.)',
       '$39K-$82K (Glassdoor est.)', '$88K-$162K (Glassdoor est.)',
       '$55K-$99K (Glassdoor est.)', '$67K-$117K (Glassdoor est.)',
       '$92K-$150K (Glassdoor est.)', '$116K-$209K (Glassdoor est.)',
       '$38K-$82K (Glassdoor est.)', 'Employer Provided Salary:$85K-$90K',
       '$62K-$119K (Glassdoor est.)', '$84K-$136K (Glassdoor est.)',
       '$52K-$89K (Glassdoor est.)', '$65K-$119K (Glassdoor est.)',
       '$63K-$101K (Glassdoor est.)', '$127K-$202K (Glassdoor est.)',
       '$31K-$57K (Glassdoor est.)', '$75K-$143K (Glassdoor est.)',
       '$105K-$194K (Glassdoor est.)', '$45K-$86K (Glassdoor est.)',
       '$95K-$154K (Glassdoor est.)', '$80K-$148K (Glassdoor est.)',
       '$36K-$62K (Glassdoor est.)', '$50K-$92K (Glassdoor est.)',
       '$67K-$135K (Glassdoor est.)', '$42K-$80K (Glassdoor est.)',
       '$68K-$139K (Glassdoor est.)', '$34K-$92K (Glassdoor est.)',
       '$54K-$71K (Glassdoor est.)', '$65K-$124K (Glassdoor est.)',
       '$109K-$200K (Glassdoor est.)', '$61K-$113K (Glassdoor est.)',
       '$43K-$86K (Glassdoor est.)', '$74K-$149K (Glassdoor est.)',
       '$113K-$196K (Glassdoor est.)', '$97K-$160K (Glassdoor est.)',
       '$24-$39 Per Hour(Glassdoor est.)', '$102K-$172K (Glassdoor est.)',
       '$108K-$171K (Glassdoor est.)', '$76K-$142K (Glassdoor est.)',
       '$202K-$306K (Glassdoor est.)', '$49K-$97K (Glassdoor est.)',
       '$65K-$134K (Glassdoor est.)', '$32K-$59K (Glassdoor est.)',
       '$87K-$158K (Glassdoor est.)', '$107K-$173K (Glassdoor est.)',
       '$56K-$99K (Glassdoor est.)',
       'Employer Provided Salary:$25-$28 Per Hour',
       '$80K-$155K (Glassdoor est.)', '$43K-$98K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$44K-$96K (Glassdoor est.)',
       '$50K-$110K (Glassdoor est.)', '$61K-$119K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$140K',
       '$56K-$91K (Glassdoor est.)', '$101K-$158K (Glassdoor est.)',
       '$125K-$210K (Glassdoor est.)', '$43K-$77K (Glassdoor est.)',
       '$139K-$221K (Glassdoor est.)', '$78K-$147K (Glassdoor est.)',
       '$37K-$66K (Glassdoor est.)', '$38K-$64K (Glassdoor est.)',
       '$43K-$82K (Glassdoor est.)', '$90K-$110K(Employer est.)',
       '$93K-$151K (Glassdoor est.)', '$40K-$101K (Glassdoor est.)',
       '$97K-$180K (Glassdoor est.)', '$81K-$134K (Glassdoor est.)',
       '$84K-$157K (Glassdoor est.)', '$121K-$203K (Glassdoor est.)',
       '$52K-$85K (Glassdoor est.)', '$81K-$140K (Glassdoor est.)',
       '$83K-$148K (Glassdoor est.)', '$31K-$55K (Glassdoor est.)',
       '$102K-$178K (Glassdoor est.)',
       'Employer Provided Salary:$110K-$130K',
       '$48K-$85K (Glassdoor est.)', '$66K-$123K (Glassdoor est.)',
       '$92K-$146K (Glassdoor est.)', '$21-$29 Per Hour(Glassdoor est.)',
       '$10-$17 Per Hour(Glassdoor est.)', '$150K-$239K (Glassdoor est.)',
       '$52K-$91K (Glassdoor est.)', '$82K-$129K(Employer est.)',
       '$47K-$101K (Glassdoor est.)', '$49K-$76K (Glassdoor est.)',
       '$43K-$88K (Glassdoor est.)', '$124K-$199K (Glassdoor est.)',
       '$97K-$181K (Glassdoor est.)', '$100K-$173K (Glassdoor est.)',
       '$53K-$96K (Glassdoor est.)', '$65K-$96K (Glassdoor est.)',
       '$75K-$127K (Glassdoor est.)', '$94K-$139K (Glassdoor est.)',
       '$176K-$289K (Glassdoor est.)', '$92K-$149K (Glassdoor est.)',
       '$118K-$188K (Glassdoor est.)', '$108K-$146K (Glassdoor est.)',
       '$65K-$106K (Glassdoor est.)', '$55K-$98K (Glassdoor est.)',
       '$94K-$162K (Glassdoor est.)', '$63K-$120K (Glassdoor est.)',
       '$126K-$228K (Glassdoor est.)', '$80K-$134K (Glassdoor est.)',
       '$85K-$142K (Glassdoor est.)', '$87K-$140K (Glassdoor est.)',
       '$76K-$127K (Glassdoor est.)', '$54K-$92K (Glassdoor est.)',
       '$61K-$100K (Glassdoor est.)', '$112K-$179K (Glassdoor est.)',
       '$63K-$111K (Glassdoor est.)', '$75K-$126K (Glassdoor est.)',
       '$110K-$184K (Glassdoor est.)', '$76K-$145K (Glassdoor est.)',
       '$70K-$118K (Glassdoor est.)', '$94K-$153K (Glassdoor est.)',
       '$150K-$180K (Glassdoor est.)', '$42K-$77K (Glassdoor est.)',
       '$47K-$85K (Glassdoor est.)', '$62K-$112K (Glassdoor est.)',
       '$64K-$108K (Glassdoor est.)', '$89K-$144K (Glassdoor est.)',
       '$55K-$105K (Glassdoor est.)', '$135K-$211K (Glassdoor est.)',
       '$57K-$80K (Glassdoor est.)', '$129K-$215K (Glassdoor est.)',
       '$63K-$127K (Glassdoor est.)', '$50K-$89K (Glassdoor est.)',
       '$71K-$124K (Glassdoor est.)', '$69K-$121K (Glassdoor est.)',
       '$150K-$238K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$59K-$112K (Glassdoor est.)', '$35K-$65K (Glassdoor est.)',
       '$79K-$147K (Glassdoor est.)', '$119K-$187K (Glassdoor est.)',
       '$90K-$157K (Glassdoor est.)', '$32K-$62K (Glassdoor est.)',
       '$116K-$208K (Glassdoor est.)', '$102K-$165K (Glassdoor est.)',
       '$91K-$159K (Glassdoor est.)', '$80K-$133K (Glassdoor est.)',
       '$39K-$69K (Glassdoor est.)', '$27K-$48K (Glassdoor est.)',
       '$36K-$71K (Glassdoor est.)', '$130K-$206K (Glassdoor est.)',
       '$99K-$178K (Glassdoor est.)', '$86K-$137K (Glassdoor est.)',
       '$37K-$100K (Glassdoor est.)', '$58K-$111K (Glassdoor est.)',
       '$72K-$133K (Glassdoor est.)', '$61K-$126K (Glassdoor est.)',
       '$95K-$160K (Glassdoor est.)', '$33K-$61K (Glassdoor est.)',
       '$69K-$119K (Glassdoor est.)', '$67K-$127K (Glassdoor est.)',
       '$66K-$117K (Glassdoor est.)', '$50K-$98K (Glassdoor est.)',
       '$90K-$153K (Glassdoor est.)',
       'Employer Provided Salary:$100K-$135K',
       '$42K-$79K (Glassdoor est.)', '$84K-$153K (Glassdoor est.)',
       '$44K-$73K (Glassdoor est.)', '$40K-$87K (Glassdoor est.)',
       '$72K-$142K (Glassdoor est.)', '$74K-$137K (Glassdoor est.)',
       '$57K-$109K (Glassdoor est.)', '$136K-$208K (Glassdoor est.)',
       '$171K-$272K (Glassdoor est.)', '$65K-$126K (Glassdoor est.)',
       '$118K-$228K (Glassdoor est.)', '$113K-$182K (Glassdoor est.)',
       '$58K-$104K (Glassdoor est.)', '$58K-$108K (Glassdoor est.)',
       '$81K-$161K (Glassdoor est.)', '$115K-$220K (Glassdoor est.)',
       '$71K-$144K (Glassdoor est.)', '$32K-$57K (Glassdoor est.)',
       '$79K-$136K (Glassdoor est.)', '$48K-$113K (Glassdoor est.)',
       '$27-$47 Per Hour(Glassdoor est.)', '$68K-$125K (Glassdoor est.)',
       '$39K-$67K (Glassdoor est.)', '$71K-$135K (Glassdoor est.)',
       '$61K-$123K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$71K-$121K (Glassdoor est.)', '$72K-$121K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$101K-$141K (Glassdoor est.)',
       '$79K-$127K (Glassdoor est.)', '$81K-$132K (Glassdoor est.)',
       'Employer Provided Salary:$120K-$140K',
       '$65K-$113K (Glassdoor est.)', '$59K-$125K (Glassdoor est.)',
       '$80K-$142K (Glassdoor est.)', '$62K-$113K (Glassdoor est.)'],
      dtype=object)

# Findings
#### Salary columnn have -1, Employer Provided Salary:$150K-$160K etc

In [89]:
df[df['Salary Estimate']=='-1']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
24,Data Scientist,-1,JOB CATEGORY:\n\nInformation Services\n\nREQUI...,3.9,Mars\n3.9,Oregon,"Mc Lean, VA",10000+ employees,1911,Company - Private,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD),-1
42,Data Scientist,-1,Take your career to new heights working with a...,4.1,Amount\n4.1,"Chicago, IL","Chicago, IL",201 to 500 employees,2015,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
47,Data Science Analyst,-1,Company Overview:\n\nBrightside is an employee...,5.0,Brightside\n5.0,"Chandler, AZ","San Francisco, CA",51 to 200 employees,2017,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1
53,Data Engineer,-1,"Data Engineer\n£50,000 – £70,000 See Advert\n\...",4.5,Anson McCade\n4.5,"Kingdom, IL","London, United Kingdom",51 to 200 employees,2000,Company - Private,Staffing & Outsourcing,Business Services,$1 to $5 million (USD),-1
64,Business Intelligence Analyst,-1,Business Intelligence Analyst\nAccounting\n50 ...,3.1,Amica Mutual\n3.1,"Lincoln, RI","Lincoln, RI",1001 to 5000 employees,1907,Company - Private,Insurance Carriers,Insurance,$1 to $2 billion (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,Data Engineer 5 - Contract,-1,Purposes\n\nThis is a contract position that w...,4.2,The Church of Jesus Christ of Latter-day Saint...,"Riverton, UT","Salt Lake City, UT",10000+ employees,-1,Nonprofit Organization,Religious Organizations,Non-Profit,Unknown / Non-Applicable,-1
925,Data Scientists,-1,Position Description:\nThe Analytics Research ...,3.3,Miracle Software Systems\n3.3,Michigan,"Novi, MI",51 to 200 employees,1994,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),"CSC, IBM"
927,"Head Data Scientist – Image Analytics lead, No...",-1,"06-Feb-2020\n\nJob ID\n279186BR\n{""QuestionNam...",3.8,Novartis\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
937,"Scientist, Product Development",-1,Requisition Number:\nVALA4948\n\nJob Title:\nS...,2.9,Pharmavite\n2.9,"Valencia, CA","West Hills, CA",1001 to 5000 employees,1971,Company - Private,Consumer Products Manufacturing,Manufacturing,$1 to $2 billion (USD),"The Nature's Bounty Co., Schiff Nutrition Inte..."
954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom

In [90]:
df.shape

(956, 14)

In [91]:
df=df[df['Salary Estimate']!='-1']

In [92]:
salary= df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [93]:
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [94]:
minus_kd=salary.apply(lambda x : x.replace('$','').replace('K',''))

In [95]:
minus_kd

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [96]:
df['hourly']=df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [97]:
df[df['hourly']==1]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly
197,Medical Lab Scientist,$17-$24 Per Hour(Glassdoor est.),Overview\n\nAbout\n\n\nTower Health is a stron...,3.6,Tower Health\n3.6,"West Reading, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,1
209,MED TECH/LAB SCIENTIST - LABORATORY,$21-$34 Per Hour(Glassdoor est.),Evening: 3P-1130P or Night Shift 11P-730A\n\nI...,3.6,Beebe Healthcare\n3.6,"Lewes, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
240,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
247,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
257,Medical Technologist / Clinical Laboratory Sci...,$15-$25 Per Hour(Glassdoor est.),The incumbent performs a broad range of labora...,3.4,"Veterans Affairs, Veterans Health Administrati...","New Orleans, LA","Washington, DC",10000+ employees,1930,Government,Federal Agencies,Government,Unknown / Non-Applicable,-1,1
307,Medical Lab Scientist,$17-$24 Per Hour(Glassdoor est.),Overview\n\nAbout\n\n\nTower Health is a stron...,3.6,Tower Health\n3.6,"West Reading, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,1
337,MED TECH/LAB SCIENTIST - LABORATORY,$21-$34 Per Hour(Glassdoor est.),Evening: 3P-1130P or Night Shift 11P-730A\n\nI...,3.6,Beebe Healthcare\n3.6,"Lewes, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
427,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
437,Clinical Laboratory Scientist,$24-$39 Per Hour(Glassdoor est.),POSITION PURPOSE:\nPerforms CLIA moderate and ...,3.7,Vail Health\n3.7,"Vail, CO","Vail, CO",501 to 1000 employees,1966,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
456,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
464,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1
522,Medical Lab Scientist - MLT,$21-$29 Per Hour(Glassdoor est.),Position Type: Regular\nScheduled Hours per 2 ...,3.2,Catholic Health Initiatives\n3.2,"Omaha, NE","Englewood, CO",10000+ employees,1996,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$10+ billion (USD),"Dignity Health, Trinity Health",1
523,"Senior Operations Data Analyst, Call Center Op...",$10-$17 Per Hour(Glassdoor est.),Summary\n\n\nIndependent contributor role that...,2.7,FLEETCOR\n2.7,"Nashville, TN","Peachtree Corners, GA",5001 to 10000 employees,2000,Company - Public,Financial Transaction Processing,Finance,$2 to $5 billion (USD),-1,1
632,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
652,Clinical Laboratory Scientist,$24-$39 Per Hour(Glassdoor est.),POSITION PURPOSE:\nPerforms CLIA moderate and ...,3.7,Vail Health\n3.7,"Vail, CO","Vail, CO",501 to 1000 employees,1966,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
682,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
694,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1
786,Medical Lab Scientist - MLT,$21-$29 Per Hour(Glassdoor est.),Position Type: Regular\nScheduled Hours per 2 ...,3.2,Catholic Health Initiatives\n3.2,"Omaha, NE","Englewood, CO",10000+ employees,1996,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$10+ billion (USD),"Dignity Health, Trinity Health",1
787,"Senior Operations Data Analyst, Call Center Op...",$10-$17 Per Hour(Glassdoor est.),Summary\n\n\nIndependent contributor role that...,2.7,FLEETCOR\n2.7,"Nashville, TN","Peachtree Corners, GA",5001 to 10000 employees,2000,Company - Public,Financial Transaction Processing,Finance,$2 to $5 billion (USD),-1,1
823,"Clinical Scientist, Clinical Development",$27-$47 Per Hour(Glassdoor est.),Job Summary:\n\nThis position reports to the D...,3.8,FORMA THERAPEUTICS\n3.8,"Watertown, MA","Watertown, MA",51 to 200 employees,2008,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10 to $25 million (USD),-1,1
854,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
875,Clinical Laboratory Scientist,$24-$39 Per Hour(Glassdoor est.),POSITION PURPOSE:\nPerforms CLIA moderate and ...,3.7,Vail Health\n3.7,"Vail, CO","Vail, CO",501 to 1000 employees,1966,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
919,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
936,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1

In [98]:
df['Employer_provide_salary']=df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [99]:
minus_kd.unique()

array(['53-91 ', '63-112 ', '80-90 ', '56-97 ', '86-143 ', '71-119 ',
       '54-93 ', '86-142 ', '38-84 ', '120-160 ', '126-201 ', '64-106 ',
       '106-172 ', '46-85 ', '83-144 ', '102-190 ', '67-137 ', '118-189 ',
       '110-175 ', '64-111 ', '81-130 ', '73-119 ', '86-139 ', '63-105 ',
       '109-177 ', '63-110 ', '75-124 ', '34-61 ', '72-120 ', '93-149 ',
       '85-140 ', '77-135 ', '82-132 ', '83-137 ', '115-180 ', '74-138 ',
       '64-112 ', '68-129 ', '52-113 ', '110-150',
       'Employer Provided Salary:150-160', '158-211 ', '20-39 ',
       '56-117 ', '63-99 ', '68-114 ', '41-95 ', '86-144 ', '80-139 ',
       '56-95 ', '120-189 ', '111-176 ', '84-146 ', '107-172 ', '49-85 ',
       '61-109 ', '88-148 ', '60-99 ', '41-72 ', '96-161 ', '65-130 ',
       '52-81 ', '139-220 ', '50-102 ', '85-139 ', '74-122 ', '99-157 ',
       '79-222 ', '57-118 ', '86-141 ', '94-154 ', '37-76 ', '100-160 ',
       '55-100 ', '60-114 ', '39-68 ', '64-107 ', '31-65 ', '34-62 ',
       '117-231 ', '79-134 ', '52-93 ', '55-116 ', '72-123 ', '74-124 ',
       '40-73 ', '102-164 ', '89-153 ', '61-110 ', '65-110 ', '200-275',
       '68-123 ', '80-129 ', '39-71 ', '38-85 ', '121-193 ', '54-102 ',
       '102-163 ', '76-140 ', '60-101 ', '82-133 ', '65-125 ', '91-148 ',
       '95-173 ', '77-124 ', '80-135 ', '85-159 ', '80-105', '43-81 ',
       '29-50 ', '26-55 ', '61-118 ', '60-102 ', '112-182 ', '51-112 ',
       '113-223 ', '72-129 ', '71-123 ',
       'Employer Provided Salary:120-145', '80-120 ', '80-130 ',
       '59-115 ', '71-136 ', '81-167 ', '71-204 ', '75-125 ', '77-136 ',
       '74-123 ', '44-78 ', '65-148 ', '59-110 ', '85-134 ', '124-204 ',
       '131-207 ', '110-174 ', '52-101 ', '81-133 ', '132-211 ',
       '74-140 ', '100-190 ', '43-80 ', '17-24 Per Hour', '91-149 ',
       '42-82 ', '116-185 ', '59-116 ', '48-95 ', '31-72 ', '105-198 ',
       '98-182 ', '73-124 ', 'Employer Provided Salary:200-250',
       '21-34 Per Hour', '117-206 ', '111-183 ', '81-159 ', '83-166 ',
       '114-182 ', '42-76 ', '114-179 ', '60-123 ', '100-166 ',
       '108-173 ', '48-93 ', '54-115 ', '60-127 ', '90-179 ', '138-224 ',
       '190-220', '35-62 ', '18-25 Per Hour', '39-66 ', '42-86 ',
       '69-127 ', '40-68 ', '49-113 ', '75-140 ', '66-112 ', '76-125 ',
       '44-86 ', '15-25 Per Hour', '53-92 ', '65-120 ', '60-103 ',
       '53-105 ', '33-62 ', '48-90 ', '34-64 ', '66-111 ', '91-138 ',
       '62-114 ', '71-129 ', '74-119 ', '55-97 ', '15-16', '61-106 ',
       '127-199 ', '74-126 ', '33-72 ', '37-63 ', '67-119 ', '72-117 ',
       '78-126 ', '116-194 ', '83-133 ', '45-82 ', '83-135 ', '70-122 ',
       '70-132 ', '54-101 ', '68-112 ', '42-74 ', '95-161 ', '76-126 ',
       '108-176 ', '130-208 ', '37-68 ', '52-99 ', '105-173 ', '71-134 ',
       '39-82 ', '88-162 ', '55-99 ', '67-117 ', '92-150 ', '116-209 ',
       '38-82 ', 'Employer Provided Salary:85-90', '62-119 ', '84-136 ',
       '52-89 ', '65-119 ', '63-101 ', '127-202 ', '31-57 ', '75-143 ',
       '105-194 ', '45-86 ', '95-154 ', '80-148 ', '36-62 ', '50-92 ',
       '67-135 ', '42-80 ', '68-139 ', '34-92 ', '54-71 ', '65-124 ',
       '109-200 ', '61-113 ', '43-86 ', '74-149 ', '113-196 ', '97-160 ',
       '24-39 Per Hour', '102-172 ', '108-171 ', '76-142 ', '202-306 ',
       '49-97 ', '65-134 ', '32-59 ', '87-158 ', '107-173 ', '56-99 ',
       'Employer Provided Salary:25-28 Per Hour', '80-155 ', '43-98 ',
       '45-78 ', '44-96 ', '50-110 ', '61-119 ',
       'Employer Provided Salary:100-140', '56-91 ', '101-158 ',
       '125-210 ', '43-77 ', '139-221 ', '78-147 ', '37-66 ', '38-64 ',
       '43-82 ', '90-110', '93-151 ', '40-101 ', '97-180 ', '81-134 ',
       '84-157 ', '121-203 ', '52-85 ', '81-140 ', '83-148 ', '31-55 ',
       '102-178 ', 'Employer Provided Salary:110-130', '48-85 ',
       '66-123 ', '92-146 ', '21-29 Per Hour', '10-17 Per Hour',
       '150-239 ', '52-91 ', '82-129', '47-101 ', '49-76 ', '43-88 ',
       '124-199 ', '97-181 ', '100-173 ', '53-96 ', '65-96 ', '75-127 ',
       '94-139 ', '176-289 ', '92-149 ', '118-188 ', '108-146 ',
       '65-106 ', '55-98 ', '94-162 ', '63-120 ', '126-228 ', '80-134 ',
       '85-142 ', '87-140 ', '76-127 ', '54-92 ', '61-100 ', '112-179 ',
       '63-111 ', '75-126 ', '110-184 ', '76-145 ', '70-118 ', '94-153 ',
       '150-180 ', '42-77 ', '47-85 ', '62-112 ', '64-108 ', '89-144 ',
       '55-105 ', '135-211 ', '57-80 ', '129-215 ', '63-127 ', '50-89 ',
       '71-124 ', '69-121 ', '150-238 ', '77-132 ', '59-112 ', '35-65 ',
       '79-147 ', '119-187 ', '90-157 ', '32-62 ', '116-208 ', '102-165 ',
       '91-159 ', '80-133 ', '39-69 ', '27-48 ', '36-71 ', '130-206 ',
       '99-178 ', '86-137 ', '37-100 ', '58-111 ', '72-133 ', '61-126 ',
       '95-160 ', '33-61 ', '69-119 ', '67-127 ', '66-117 ', '50-98 ',
       '90-153 ', 'Employer Provided Salary:100-135', '42-79 ', '84-153 ',
       '44-73 ', '40-87 ', '72-142 ', '74-137 ', '57-109 ', '136-208 ',
       '171-272 ', '65-126 ', '118-228 ', '113-182 ', '58-104 ',
       '58-108 ', '81-161 ', '115-220 ', '71-144 ', '32-57 ', '79-136 ',
       '48-113 ', '27-47 Per Hour', '68-125 ', '39-67 ', '71-135 ',
       '61-123 ', '87-141 ', '71-121 ', '72-121 ', '51-88 ', '101-141 ',
       '79-127 ', '81-132 ', 'Employer Provided Salary:120-140',
       '65-113 ', '59-125 ', '80-142 ', '62-113 '], dtype=object)

In [100]:
minus_kd=minus_kd.apply(lambda x : x.lower().replace('employer provided salary:', ''))

In [101]:
minus_kd=minus_kd.apply(lambda x: x.lower().replace('per hour',''))

In [102]:
minus_kd=minus_kd.apply(lambda x: x.strip())

In [103]:
minus_kd.unique()

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150', '150-160', '158-211', '20-39',
       '56-117', '63-99', '68-114', '41-95', '86-144', '80-139', '56-95',
       '120-189', '111-176', '84-146', '107-172', '49-85', '61-109',
       '88-148', '60-99', '41-72', '96-161', '65-130', '52-81', '139-220',
       '50-102', '85-139', '74-122', '99-157', '79-222', '57-118',
       '86-141', '94-154', '37-76', '100-160', '55-100', '60-114',
       '39-68', '64-107', '31-65', '34-62', '117-231', '79-134', '52-93',
       '55-116', '72-123', '74-124', '40-73', '102-164', '89-153',
       '61-110', '65-110', '200-275', '68-123', '80-129', '39-71',
       '38-85', '121-193', '54-102', '102-163', '76-140', '60-101',
       '82-133', '65-125', '91-148', '95-173', '77-124', '80-135',
       '85-159', '80-105', '43-81', '29-50', '26-55', '61-118', '60-102',
       '112-182', '51-112', '113-223', '72-129', '71-123', '120-145',
       '80-120', '80-130', '59-115', '71-136', '81-167', '71-204',
       '75-125', '77-136', '74-123', '44-78', '65-148', '59-110',
       '85-134', '124-204', '131-207', '110-174', '52-101', '81-133',
       '132-211', '74-140', '100-190', '43-80', '17-24', '91-149',
       '42-82', '116-185', '59-116', '48-95', '31-72', '105-198',
       '98-182', '73-124', '200-250', '21-34', '117-206', '111-183',
       '81-159', '83-166', '114-182', '42-76', '114-179', '60-123',
       '100-166', '108-173', '48-93', '54-115', '60-127', '90-179',
       '138-224', '190-220', '35-62', '18-25', '39-66', '42-86', '69-127',
       '40-68', '49-113', '75-140', '66-112', '76-125', '44-86', '15-25',
       '53-92', '65-120', '60-103', '53-105', '33-62', '48-90', '34-64',
       '66-111', '91-138', '62-114', '71-129', '74-119', '55-97', '15-16',
       '61-106', '127-199', '74-126', '33-72', '37-63', '67-119',
       '72-117', '78-126', '116-194', '83-133', '45-82', '83-135',
       '70-122', '70-132', '54-101', '68-112', '42-74', '95-161',
       '76-126', '108-176', '130-208', '37-68', '52-99', '105-173',
       '71-134', '39-82', '88-162', '55-99', '67-117', '92-150',
       '116-209', '38-82', '85-90', '62-119', '84-136', '52-89', '65-119',
       '63-101', '127-202', '31-57', '75-143', '105-194', '45-86',
       '95-154', '80-148', '36-62', '50-92', '67-135', '42-80', '68-139',
       '34-92', '54-71', '65-124', '109-200', '61-113', '43-86', '74-149',
       '113-196', '97-160', '24-39', '102-172', '108-171', '76-142',
       '202-306', '49-97', '65-134', '32-59', '87-158', '107-173',
       '56-99', '25-28', '80-155', '43-98', '45-78', '44-96', '50-110',
       '61-119', '100-140', '56-91', '101-158', '125-210', '43-77',
       '139-221', '78-147', '37-66', '38-64', '43-82', '90-110', '93-151',
       '40-101', '97-180', '81-134', '84-157', '121-203', '52-85',
       '81-140', '83-148', '31-55', '102-178', '110-130', '48-85',
       '66-123', '92-146', '21-29', '10-17', '150-239', '52-91', '82-129',
       '47-101', '49-76', '43-88', '124-199', '97-181', '100-173',
       '53-96', '65-96', '75-127', '94-139', '176-289', '92-149',
       '118-188', '108-146', '65-106', '55-98', '94-162', '63-120',
       '126-228', '80-134', '85-142', '87-140', '76-127', '54-92',
       '61-100', '112-179', '63-111', '75-126', '110-184', '76-145',
       '70-118', '94-153', '150-180', '42-77', '47-85', '62-112',
       '64-108', '89-144', '55-105', '135-211', '57-80', '129-215',
       '63-127', '50-89', '71-124', '69-121', '150-238', '77-132',
       '59-112', '35-65', '79-147', '119-187', '90-157', '32-62',
       '116-208', '102-165', '91-159', '80-133', '39-69', '27-48',
       '36-71', '130-206', '99-178', '86-137', '37-100', '58-111',
       '72-133', '61-126', '95-160', '33-61', '69-119', '67-127',
       '66-117', '50-98', '90-153', '100-135', '42-79', '84-153', '44-73',
       '40-87', '72-142', '74-137', '57-109', '136-208', '171-272',
       '65-126', '118-228', '113-182', '58-104', '58-108', '81-161',
       '115-220', '71-144', '32-57', '79-136', '48-113', '27-47',
       '68-125', '39-67', '71-135', '61-123', '87-141', '71-121',
       '72-121', '51-88', '101-141', '79-127', '81-132', '120-140',
       '65-113', '59-125', '80-142', '62-113'], dtype=object)

In [104]:
min_salary=minus_kd.apply(lambda x: int(x.split('-')[0]))
max_salary=minus_kd.apply(lambda x: int(x.split('-')[1]))

In [105]:
min_salary

0      53
1      63
2      80
3      56
4      86
       ..
950    58
951    72
952    56
953    95
955    61
Name: Salary Estimate, Length: 742, dtype: int64

In [106]:
max_salary

0       91
1      112
2       90
3       97
4      143
      ...
950    111
951    133
952     91
953    160
955    126
Name: Salary Estimate, Length: 742, dtype: int64

In [107]:
avg_salary=(min_salary+max_salary)/2

In [108]:
df['Max Salary']=max_salary
df['Min Salary']=min_salary
df['Avg Salary']=avg_salary

In [109]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer_provide_salary,Max Salary,Min Salary,Avg Salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,91,53,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,112,63,87.5
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,90,80,85.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,97,56,76.5
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,143,86,114.5

### Cleaning Company name as they have number in theeir name.

In [110]:
df['Company Name'][0].split('\n')

['Tecolote Research', '3.8']

In [111]:
company_name=df['Company Name'].apply(lambda x: x.split('\n')[0])

In [112]:
company_name.sample(10)

830                      Infosys
542             Royce Geospatial
273       Takeda Pharmaceuticals
228    Rochester Regional Health
78                      SpringML
351                      Zest AI
337             Beebe Healthcare
456             Beebe Healthcare
302                    Genentech
142                      Synagro
Name: Company Name, dtype: object

In [113]:
df['company']=company_name

In [114]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer_provide_salary,Max Salary,Min Salary,Avg Salary,company
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,91,53,72.0,Tecolote Research
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,112,63,87.5,University of Maryland Medical System
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,90,80,85.0,KnowBe4
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,97,56,76.5,PNNL
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,143,86,114.5,Affinity Solutions

In [115]:
df['job_state']=df['Location'].apply(lambda x: x.split(',')[1])

In [116]:
df['job_state']

0       NM
1       MD
2       FL
3       WA
4       NY
      ...
950     MA
951     TN
952     PA
953     PA
955     OH
Name: job_state, Length: 742, dtype: object

In [117]:
df['job_state'].unique()

array([' NM', ' MD', ' FL', ' WA', ' NY', ' TX', ' CA', ' VA', ' MA',
       ' NJ', ' CO', ' IL', ' KY', ' OR', ' CT', ' MI', ' DC', ' OH',
       ' AL', ' MO', ' PA', ' GA', ' IN', ' LA', ' WI', ' NC', ' AZ',
       ' NE', ' MN', ' Los Angeles', ' UT', ' TN', ' DE', ' ID', ' RI',
       ' IA', ' SC', ' KS'], dtype=object)

In [118]:
df['job_state'].isnull().sum()

np.int64(0)

In [119]:
df.job_state.value_counts()

job_state
CA             151
MA             103
NY              72
VA              41
IL              40
MD              35
PA              33
TX              28
WA              21
NC              21
NJ              17
FL              16
OH              14
TN              13
DC              11
CO              11
IN              10
WI              10
UT              10
AZ               9
MO               9
AL               8
DE               6
KY               6
MI               6
GA               6
IA               5
CT               5
NE               4
OR               4
LA               4
NM               3
KS               3
MN               2
ID               2
Los Angeles      1
RI               1
SC               1
Name: count, dtype: int64

## Making a column which check if the job position is in headquater or in any other office.

In [120]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,hourly,Employer_provide_salary,Max Salary,Min Salary,Avg Salary,company,job_state
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,91,53,72.0,Tecolote Research,NM
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,Health Care,$2 to $5 billion (USD),-1,0,0,112,63,87.5,University of Maryland Medical System,MD
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Business Services,$100 to $500 million (USD),-1,0,0,90,80,85.0,KnowBe4,FL
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,97,56,76.5,PNNL,WA
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,143,86,114.5,Affinity Solutions,NY

In [121]:
df['same_state']=(df['Location'] == df['Headquarters']).astype(int)

In [122]:
df['same_state']

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: same_state, Length: 742, dtype: int64

## Age of the Company

In [123]:
df['Founded'].unique()

array([1973, 1984, 2010, 1965, 1998, 2000, 2008, 2005, 2014, 2009, 2011,
       1968, 1962, 2012, 1781, 1995, 1915, 2013, 1935, 1849, 1952, 1852,
       1997, 1996, 1974, 1969, 1870, 1985,   -1, 2015, 1993, 1958, 1986,
       1999, 1925, 1912, 2002, 1863, 1939, 2016, 1885, 2006, 1948, 2003,
       1927, 1978, 1860, 2017, 1942, 1990, 1988, 2001, 2007, 1992, 1994,
       1977, 2019, 1982, 1937, 1878, 1966, 1971, 1943, 1987, 1945, 1846,
       1851, 1976, 1981, 1970, 1951, 1967, 1961, 1964, 1930, 1917, 1883,
       1887, 2004, 1850, 1902, 1744, 1929, 1947, 1991, 1989, 1928, 1875,
       1913, 1972, 1856, 1983, 1922, 1812, 1914, 1980, 1954, 1830, 1975,
       1899, 1979, 1889])

In [124]:
df['Age of Company']=df['Founded'].apply(lambda x: x if x==-1 else 2025-x)

## parse job description

In [125]:
df['Job Description']

0      Data Scientist\nLocation: Albuquerque, NM\nEdu...
1      What You Will Do:\n\nI. General Summary\n\nThe...
2      KnowBe4, Inc. is a high growth information sec...
3      *Organization and Job ID**\nJob ID: 310709\n\n...
4      Data Scientist\nAffinity Solutions / Marketing...
                             ...
950    Site Name: USA - Massachusetts - Cambridge\nPo...
951    THE CHALLENGE\nEventbrite has a world-class da...
952    The Auton Lab at Carnegie Mellon University is...
953    Data Science ManagerResponsibilities:\n\nOvers...
955    Returning Candidate? Log back in to the Career...
Name: Job Description, Length: 742, dtype: object

## Skill to be looked in description
##### python
##### R studio
##### spark
##### aws
##### excel

In [127]:
df['python']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [128]:
df['R']=df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' else 0)

In [129]:
df.R.value_counts()

R
1    742
Name: count, dtype: int64

In [130]:
df['spark']=df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [131]:
df.spark.value_counts()

spark
0    575
1    167
Name: count, dtype: int64

In [132]:
df['aws']=df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [133]:
df.aws.value_counts()

aws
0    566
1    176
Name: count, dtype: int64

In [134]:
df['excel']=df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [135]:
df.excel.value_counts()

excel
1    388
0    354
Name: count, dtype: int64

In [136]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Avg Salary,company,job_state,same_state,Age of Company,python,R,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research,NM,0,52,1,1,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System,MD,0,41,1,1,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4,FL,1,15,1,1,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL,WA,1,60,1,1,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions,NY,1,27,1,1,0,0,1

In [139]:
df.to_csv(r'C:\Users\hp\OneDrive\Desktop\MY\GitHubRS\SalaryPrediction\data\cleaned\cleaned_data.csv', index=False)